body {
    background-color: #f8f9fa; /* Light grey */
}

.container {
    background-color: #fff; /* White */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(49, 184, 36, 0.1);
}

button:hover {
    background-color: darkgreen; /* Darker blue */
    border-color: darkgreen;
}

tbody tr:nth-of-type(odd) {
    background-color: #f0f0f0; /* Light grey */
}

th, td {
    border-top: none;
    border-bottom: 1px solid #dee2e6; /* Light grey */
}

th {
    background-color: blue;
    color: #fff; 
}

th, td {
    padding: 0.75rem;
    vertical-align: top;
}